.icon-setting {
    background-image: url('../../content/icon/setting.png');
}
.icon-search {
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
}
.icon-report {
    background-image: url('../../content/icon/report.png');
}
.icon-refresh {
    background-image: url('../../content/icon/refresh.png');
    background-repeat: no-repeat;
    width: 40px;

    background-position: center;
}
.icon-radio-2x {
    background-image: url('../../content/icon/radio@2x.png');
}
.icon-radio-checked {
    background-image: url('../../content/icon/radio-checked.png');
}
.icon-option {
    background-image: url('../../content/icon/option.png');
}
.icon-document-online {
    background-image: url('../../content/icon/document-online.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.icon-employee {
    background-image: url('../../content/icon/dic-employee.png');
}
.icon-dashbord {
    background-image: url('../../content/icon/dashboard.png');
}
.icon-prev-page {
    background-image: url('../../content/icon/btn-prev-page.svg');
}
.icon-next-page {
    background-image: url('../../content/icon/btn-next-page.svg');
}
.icon-last-page {
    background-image: url('../../content/icon/btn-lastpage.svg');
}
.icon-first-page {
    background-image: url('../../content/icon/btn-firstpage.svg');
}
.icon-avatar-default {
    background-image: url('../../content/icon/avatar-default.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.icon-add {
    background-image: url('../../content/icon/add.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-x {
    background-image: url('../../content/icon/x.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-date-picker {
    background-image: url('../../content/icon/date-picker.svg');
}
.icon-default-avatar {
    background-image: url('../../content/icon/default-avatar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.icon-pencil {
    background-image: url('../../content/ImagesIcons/ic_pencil.png');
}

.icon-duplicate {
    background-image: url('../../content/ImagesIcons/ic_Duplicate_24.svg');
}

.icon-delete {
    background-image: url('../../content/ImagesIcons/ic_Delete_32.svg');
}
.sm-icon {
    width: 16px;
    height: 16px;
}
.m-icon {
    width: 32px;
    height: 32px;
}
.d-icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.group-icon .d-icon {
    margin: 3px;
}
